@model AdminPanel.TransportationCompanies.TransportationCompaniesEditViewModel

@{
    ViewData["Title"] = $"Editar Empresas - {Model.FantasyName}";
}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Editar</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="Index">Empresas</a>
                </li>
                <li class="breadcrumb-item active">Editar</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Edit" asp-route-id="@Model.Id" method="post" asp-antiforgery="true" enctype="multipart/form-data">
                        <partial name="Fields" model="@Model"/>
                        <div class="form-row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Editar</button>
                                <a asp-action="Index" class="btn-shadow btn btn-dark">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>