@using Business.TransportationCompanies
@using Microsoft.AspNetCore.Html


@model Business.Support.Paginate<AdminPanel.TransportationCompanies.TransportationCompanyIndexViewModel>

@{

    Func<string, IHtmlContent> displayActions =
        @<div>

            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item">
                <i class="fas fa-edit"></i>
            </a>

            <form class="btn-form" asp-action="Delete" asp-route-id="@item" asp-antiforgery="true">
                <button type="submit" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                </button>
            </form>
        </div>;


    Func<string, IHtmlContent> displayLogo =
        @<img src="@item" alt="Logo Da empresas" class="img-fluid"/>;
}

@(Html.Grid(Model.Items)
      .Build(columns =>
      {
          columns.Add(transportationCompany => transportationCompany.Logo)
              .Titled("Logo")
              .RenderedAs(company => displayLogo(company.Logo));


          columns.Add(transportationCompany => transportationCompany.FantasyName)
              .Titled("Nome Fantasia");


          columns.Add(transportationCompany => transportationCompany.CNPJ)
              .Titled("CNPJ");


          columns.Add(transportationCompany => transportationCompany.Id)
              .Titled("Ações")
              .RenderedAs(company => displayActions(company.Id));
      })
      .Empty("Nenhuma empresa encontrada.")
      .Pageable(pager =>
      {
          pager.RowsPerPage = Model.PerPage;
          pager.TotalRows = Model.Total;
      })
      .Sortable()
      )