@model VouDeVan.App.Web.AdminPainel.Models.StopoverPoints.StopoverPointsViewModel

@{
    ViewData["Title"] = "Nova Ponto de Parada";
}

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Cadastrar Ponto de Parada
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <a asp-action="Index" class="btn-shadow btn btn-dark">Voltar</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Create" method="post" asp-antiforgery="true">
                    <partial name="Fields" model="@Model" />
                    <div class="form-row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        var behavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
        options = {
            onKeyPress: function (val, e, field, options) {
                field.mask(behavior.apply({}, arguments), options);
            }
        };

        $('#RepresentativePhone').mask(behavior, options);

        $('#CNPJ').mask('00.000.000/0000-00', { reverse: true });

    </script>
}