@model VouDeVan.App.Web.AdminPainel.Models.StopoverPoints.StopoverPointsViewModel

@{
    ViewData["Title"] = "Cadastrar Ponto de Parada";
}

<link rel="stylesheet" href="~/plugins/select2/dist/css/select2.min.css" />

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Cadastrar</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
                <li class="breadcrumb-item"><a asp-action="Index">Pontos de Parada</a></li>
                <li class="breadcrumb-item active">Cadastrar</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Create" method="post" asp-antiforgery="true">
                        <partial name="Fields" model="@Model" />
                        <div class="form-row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                                <a asp-action="Index" class="btn-shadow btn btn-dark">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="~/plugins/select2/dist/js/i18n/pt-BR.js"></script>

    <script>
        $('#CityId').select2({
            placeholder: "Buscar por cidade ou estado",
            minimumInputLength: 2,
            ajax: {
                url: '@Url.Action("GetCitiesSelect2", "StopoverPoints")',
                dataType: 'json',
                type: "GET",
                quietMillis: 100,
                data: function (term, page) {
                    return {
                        q: term, //search term
                        page_limit: 10, // page size
                        page: page
                    };
                },
                results: function (data, page) {
                    var more = (page * 10) < data.total;
                    return {results: data.results, more: more};
                }
            },
            escapeMarkup: function (m) { return m; }
        });
    </script>

}