@model VouDeVan.App.Web.AdminPainel.Models.StopoverPoints.StopoverPointsViewModel
@{

    ViewData["Title"] = "View";
}

<input asp-for="Id" hidden />

<div class="form-row">
    <div class="col-md-5">
        <div class="position-relative form-group">
            <label asp-for="Name">Nome*</label>
            <input asp-for="Name" class="form-control">
        </div>
    </div>

    <div class="col-md-5">
        <div class="position-relative form-group">
            <label asp-for="Latitude">Latitude*</label>
            <input asp-for="Latitude" class="form-control">
        </div>
    </div>

    <div class="col-md-2">
        <div class="position-relative form-group">
            <label asp-for="Longitude">Longitude*</label>
            <input asp-for="Longitude" class="form-control">
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-12">
        <div class="position-relative form-group">
            <label asp-for="CityId">Cidade*</label>
            <input asp-for="CityId" class="form-control">
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-2">
        <div class="position-relative form-group">
            <label asp-for="Status">Status*</label>
            <select asp-for="Status" asp-items="Model.Statuses" class="form-control"></select>
        </div>
    </div>
</div>
