@model VouDeVan.App.Web.AdminPainel.TransportationCompanies.TransportationCompanyViewModel

@{
    ViewData["Title"] = "Nova Empresa de Transporte";
}

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Cadastrar Empresa
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <a asp-action="Index" class="btn-shadow btn btn-dark">Voltar</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Create" method="post" asp-antiforgery="true" enctype="multipart/form-data">
                    <partial name="Fields" model="@Model" />
                    <div class="form-row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        $('#RepresentativePhone').mask(behavior, options);

        $('#CNPJ').mask('00.000.000/0000-00', { reverse: true });

    </script>
}