@model VouDeVan.App.Web.AdminPainel.Models.TransportationCompany.TransportationCompanyViewModel

@{
    ViewData["Title"] = "Nova Empresa de Transporte";
}

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Cadastrar Empresa
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <button class="btn-shadow btn btn-dark">Voltar</button>
                    </div>
                </div>
            </div>
            <div class="card-body">


                <form sp-action="Create" method="post" asp-antiforgery="true">

                    <div class="form-row">
                        <div class="col-md-5">
                            <div class="position-relative form-group">
                                <label asp-for="SocialName">Razão Social*</label>
                                <input asp-for="SocialName" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="position-relative form-group">
                                <label asp-for="FantasyName">Nome Fantasia*</label>
                                <input asp-for="FantasyName" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="position-relative form-group">
                                <label asp-for="CNPJ">CNPJ*</label>
                                <input asp-for="CNPJ" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label asp-for="Address">Endereço*</label>
                                <input asp-for="Address" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-8">
                            <div class="position-relative form-group">
                                <label asp-for="RepresentativeName">Nome do Representante*</label>
                                <input asp-for="RepresentativeName" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="position-relative form-group">
                                <label asp-for="RepresentativePhone">Telefone do Representante*</label>
                                <input asp-for="RepresentativePhone" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label asp-for="Status">Status*</label>
                                <select asp-for="Status" asp-items="Model.Statuses" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label asp-for="Observation">Observações*</label>
                                <textarea asp-for="Observation" class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>