@model VouDeVan.App.Web.AdminPainel.Models.TransportationCompany.TransportationCompanyViewModel

@{
    ViewData["Title"] = $"Editar Empresa de Transporte - {Model.FantasyName}";
}

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Cadastrar Empresa
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <a asp-action="Index" class="btn-shadow btn btn-dark">Voltar</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Edit" asp-route-id="@Model.Id" method="post" asp-antiforgery="true">
                    <partial name="Fields" model="@Model"  />
                    <div class="form-row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>