@using Microsoft.AspNetCore.Html

@model VouDeVan.Core.Business.Support.GridResult<VouDeVan.Core.Business.Domains.TransportationCompanies.TransportationCompany>

@{
    Func<Guid, IHtmlContent> DisplayActions =
        @<div>
i             <a class="btn btn-primary" asp-action="Edit" asp-route-id="{item}">
                 <span>Editar&nbsp;</span>
                 <i class="fas fa-edit"></i>
             </a>
            <a class="btn btn-danger" >
                <span>Excluir&nbsp;</span>
                <i class="fas fa-trash"></i>
            </a>
        </div>
        ;
}

@(Html
      .Grid(Model.Items)
      .Build(columns =>
      {
          columns.Add(transportationCompany => transportationCompany.Id).Titled("#");
          columns.Add(transportationCompany => transportationCompany.SocialName).Titled("Nome Social");
          columns.Add(model => model.Id).Titled("Ações").RenderedAs(model => DisplayActions(model.Id));
      })
      .Empty("No data found")
      .Pageable(pager =>
      {
          pager.RowsPerPage = Model.RowsRowsPerPage;
          pager.TotalRows = Model.Total;
      })
      .Sortable()
)